

ul.menu-role {
    display: none;
    position: absolute;
    background-color: antiquewhite;
    padding: 10px;

}

ul.menu-role li {
     line-height: 20px;
}
.role {
     position: relative;
}

.role:hover ul.menu-role  {
     display: block;
}

